<h1>readonly vs. conts values</h1>

<h2>consts</h2>
<ul>
    <li>are immutable values that are defined at compile time and cannot be changed</li>
    <li>are more efficient than readonly because they are not mutable</li>
    <li>are more secure than readonly because they are not mutable</li>
    <li>are more flexible than readonly because they can be changed</li>
</ul>

<h2>readonly</h2>
<ul>
    <li>are mutable values that can be changed</li>
    <li>are more flexible than consts because they can be changed</li>
    <li>are more secure than consts because they can be changed</li>
</ul>